*{
    font-family: 'Montserrat';

}

.nav-right {
     
    align-items: center;
    margin-left: 900px;
    position:fixed; 
    z-index: 100;
}



.nav-right ul a {
    list-style: none;
    display: inline-block;
    margin: 0px;
    margin-top: -19px;
}

.nav-right a:hover{
   
    background-color: #906387;
    transition: 0.7s;
}
.nav-right a{
    width: auto;
    /* margin-right: 10px; */
    font-size: 20px;
    font-weight: 500;
    color: #5b446a;
    background-color: #7dd87d;
    outline: none;
    border: #7dd87d;
    white-space: normal;
    text-decoration: none;
    padding: 10px;
    list-style: none;
    display: inline-block;
}   

.formOne{
    font-weight: 500;
    font-size: 19px;
    align-items: center;
    float:right;
    margin-right: 60px;
    margin-top: 20px;
    padding: 40px;
    width: 500px;
    border-radius: 3%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* .formOne input{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: rgba(44, 43, 43, 0.342);
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
} */
.formOne label{
    color:#5b446a;
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
    font-weight: 600;
}
.main{
    padding-top: 5px;
    height: 596px;
     background-color: #F7F8FA;
}
.main h2{
    /* color: #4c9173; */
    color: #7f67c0;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    font-family:'Montserrat';

}
.main h1{
    font-family: 'Montserrat';
    margin-top: 40px;
    text-align: center;
    /* color: #4c9173; */
    color: #7f67c0;
    font-weight: bold;
    font-size: 26px;
}
#button {
    align-items: center;
    background-color: #CCD0D5;
    font-size: 19px;
    color: #050505;
    margin-top: 10px;
    margin-right: 200px;
    text-align: center;
    font-weight: 500;
    padding: auto;
    width: 100px;
    height: 40px;
    position: relative;
    border: #CCD0D5;
    border-radius: 25px;
    box-shadow: inset;
    outline: none;
    overflow: hidden;
}
#image{
    /* width: 400px;
    height: 600px; */
    margin-left: 50px;
    border-radius: 3%;
}
#logo{
    width: 300px;
    align-self: center;
    margin-right: 20%;
    margin-bottom: 20px;
}
.error
{
    font-size: 19px;
    font-family: 'Montserrat'; 
    color: red;
    margin-right: 80px;
}
.email
{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 600;
    text-align: left ;
    
}
.invalid-textbox{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    /* border-color: #2c2b2b57; */
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 500;
    text-align: left ;
    border-color: red;
}
.password
{
    margin: 10px;
    background-color: rgba(67, 177, 100,0.4s);
    width: 250px;
    height: 30px;
    border-radius: 12px;
    border-color: #2c2b2b57;
    box-shadow: inset;
    color: rgb(63, 58, 58);
    font-size: 19px;
    font-weight: 600;
    text-align: left ;
    
}
body{
    margin: 0;
    /* margin-top: -595px; */
}
@media screen and (max-width:750px) {
#image
    {
        margin-top: 2%;
    }
}