html{
    scroll-behavior: smooth;
}

#frontbanner {
    width: 100%;
    height: 30vw;
    background-color: var(--purple-color);
    display: inline-block;
}

#logo {
    margin-left: 15%;
    margin-top: 20%;
    font-size: 5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: black;
}

#sidetext {
    text-align: right;
    margin-top: -14%;
    margin-left: 60%;
    margin-right: 10%;
    font-size: 2vw;
    justify-content: left;
    line-height: 3vw;
    font-weight: 300;
    font-family: 'Montserrat';
    color: black;
    font-weight: 600;
}

.vl {
    height: 20vw;
    position: absolute;
    border-left: 6px white;
}

.banner {
    width: 101.8%;
    margin-left: -8px;
    height: 40vw;
    /* background-color: rgb(63, 63, 170); */
    display: inline-block;

}

.banner2 {
    width: 101.8%;
    margin-left: -8px;
    height: 40vw;
    background-color: rgb(63, 63, 170);
    display: inline-block;
}

#secondtext {
    text-align: right;
    margin-top: -19%;
    margin-left: 60%;
    margin-right: 10%;
    font-size: 2vw;
    justify-content: left;
    line-height: 3vw;
    font-weight: 300;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
}

#secondleft {
    margin-left: 10%;
    line-height: 6vw;
    margin-top: 13%;
    font-size: 5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    word-wrap: normal;
    width: 60vw;
}

.banner3 {
    width: 101.8%;
    margin-left: -8px;
    height: 40vw;
    background-color: rgb(63, 63, 170);
    display: inline-block;
    margin-top: -9.7%;
}

#thirdleft {
    margin-left: 52%;
    line-height: 6vw;
    margin-top: 15%;
    font-size: 5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    word-wrap: normal;
    width: 60vw;
}

#digital_icon {
    margin-top: 15%;
    margin-left: 30%;
    width: 180px;
    border: 8px orange;
}

#courses {
    width: 80vw;
    margin-left: 10vw;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: rgba(39, 39, 165, 0.7);
}

.violet {
    background-color: var(--purple-color);
}

.lightbluegreen {
    background-color: #67bfbf;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    width: 19.7vw;
    margin-left: 2%;
    /* border-radius: 7%; */
}

.img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 2%;
    margin: 3%;
    border-radius: 12%;
}

.img:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6);
}

.container {
    /* padding: 2px 16px; */
    margin-top: -35%;
    margin-left: 13%;
    color: #ffc107;
    font-size: 2vw;
    font-family: 'Montserrat';
    text-align: center;
    /* white-space: nowrap; */
}

.column {
    float: left;
     width: 30%; 
    margin: 1%;
    /* padding: 10 auto; */
    /* display:inline;
    overflow-y: scroll; */
}

.row {
    padding: 2%;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
     margin-left: 15px; 
    scroll-behavior: smooth;
    margin-top: -2%;
    margin-left: 3%;
}

#b {
    color: #ffc107;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.6vw;
}

#slideLeft {
    background-color: red;
    color: white;
    border: 0ch transparent;
    font-size: 2em;
    width: fit-content;
    margin: 0.5%;
    height: fit-content;
    border-radius: 12%;
    float: right;
    margin-top: -4%;
    font-family: 'Montserrat';
}

#slideRight {
    background-color: red;
    color: white;
    border: 0ch transparent;
    font-size: 2em;
    width: fit-content;
    margin: 0.5%;
    margin-right: 2%;
    border-radius: 12%;
    float: right;
    margin-top: -4%;
    font-family: 'Montserrat';
}

.heading {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 44px;
    margin-top: 60px;
}

#loginbutton {
    align-items: center;
    font-size: 2.3vw;
    width: 22%;
    height: 15%;
    margin: 30px;
    margin-top: 40px;
    margin-left: 26%;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
    border-bottom-left-radius: 4em;
    overflow: hidden;
    border-color: #41d454;
    border: 0px;
    font-family: 'Montserrat';
    font-weight: 900;
    background-color: #41d454;

}

#loginbutton2 {
    align-items: center;
    font-size: 2.3vw;
    text-align: center;
    width: 23%;
    height: 15%;
    margin: 20px;
    /* border-radius: 40%; */
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
    border-bottom-left-radius: 4em;
    overflow: hidden;
    border-color: #41d454;
    border: 0px;
    font-family: 'Montserrat';
    font-weight: 900;
    background-color: #41d454;
    border-color: #41d454;
}

.buttonalign {
    margin-left: 26%;
    /* color: ; */
}

#image {
    width: 32%;
    margin-top: -18%;
    margin-left: 60%;
    position: relative;
    z-index: 1000;
}

#firstimage {
    margin-left: 55%;
    margin-top: -19%;
    width: 33%;
}

.navbar {
    background-color: transparent;
}

.navbar .nav-links a {
    color: #000;
    font-weight: bolder;
}

#questionmark {
    font-size: 5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: #000;
    margin-left: 27.5%;
    margin-top: -4.5%;

}

#thirdtext {
    text-align: right;
    margin-top: -10%;
    margin-left: 10%;
    margin-right: 60%;
    font-size: 2vw;
    justify-content: right;
    line-height: 3vw;
    font-weight: 300;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;
}

#fourthleft {
    margin-left: 10%;
    line-height: 6vw;
    margin-top: 5%;
    font-size: 5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    word-wrap: normal;
    width: 60vw;
}

.vertical {
    border-left: 3px solid rgb(255, 255, 255);
    height: 25vw;
    margin-top: -10%;
    position: absolute;
    left: 47%;
}
.vertical2{
    left: 50%;
    border-left: 3px solid rgb(255, 255, 255);
    height: 25vw;
    margin-top: -10%;
    position: absolute;
}
#fifthleft {
    margin-left: 20%;
    line-height: 6vw;
    margin-top: 5%;
    font-size: 3.5vw;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    word-wrap: normal;
    width: 80vw;
}
#studentlogintext{
    font-family: 'Montserrat';
    color: white;
    font-weight: 600;
    font-size: 2vw;
    margin-top: 2vw;
    margin-left: 10%;
    margin-right: 54%;
    line-height: 3vw;
    text-align: right;
}
#instructorlogintext{
    font-family: 'Montserrat';
    color: white;
    font-size: 2vw;
    margin-top: -8vw;
    font-weight: 600;
    margin-left: 52%;
    margin-right:10%;
    line-height: 3vw;
    text-align: left;
}
.navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color:#ffffff ;
  }
  .navbar .nav-links
  {
      background-color: white;
      position: relative;
      z-index: 1200;
  }
  @media (max-width:800px) {
    .navbar #nav-check:checked ~ .nav-links {
        height: calc(100vh - 450px);
        overflow-y: auto;
      }
    }