* {
    box-sizing: border-box;
    
  }
  body{
      overflow-y: hidden;
  }
#heading{
    margin-top: 60px;
    text-align: center;
    color: var(--purple-color);
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: bold;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    width: 325px;
    display: block;
    padding: 20px;
     /* margin: 20px; */
    margin-bottom: 30px;
    border-radius: 12%; 
}
.img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px;
    margin: 20px;
    background-color: rgba(127, 103, 192, 0.4);
    border-radius: 12%;
}
/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    /* width: 404px; *//*   
    text-align: center;
} */
.img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.container {
    /* padding: 2px 16px; */
    margin-top: -40%;
    margin-left:15% ;
    color: #ffc107;
    font-size: 21px;
    font-family: 'Montserrat';
    text-align: center;
    white-space: nowrap;
}
.column {
    float: left;
    /* width: 25%; */
    padding: 0 auto;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#b{
    color: #ffc107;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 19px;
}
body{
    background-color: #F7F8FA;
    margin-top: -0%;
    padding-top: 1%;
}