<app-user-navbar></app-user-navbar>
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style></style>
</head>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->

<body>
  
  <h1 id="heading">Courses based on your choice</h1>
  <div class="grid">
    <div id="one">
      <div class="card">
      <label class="label">Filter Course: &nbsp; </label>
      <input [(ngModel)]='Course'>
      <select id="params" [(ngModel)]="Parameter" name="select">
        <option value="name">Name</option>
        <option value="author">Instructor</option>
        <option value="price">Price</option>
      </select>
      <div id="buttons">
      <div id="inner"><button type="button" class="button" (click)="onCourseFilter()">Search</button></div>
      <div id="inner"><button type="button" class="button" (click)="onCourseFilterClear()">Clear</button></div>
    </div>
      <br><br>
      </div>
      <div class="card">
      <label>Sort by </label>
      <select id="sort" [(ngModel)]='SortbyParam'>
        <option value="course">Course</option>
        <option value="author">Instructor</option>
        <option value="price">Price</option>
      </select>

      <button type="button" (click)="onSortDirection()">
        <i class="fa fa-fw fa-sort"></i>
        <!-- <i *ngIf="SortDirection==='desc'" class="fa fa-fw fa-sort"></i> -->
      </button>
    </div>
    <!-- <div>
      <input type="checkbox" class="checkbox" id="web" value="Web devolpment" name="web devolopment">
      <label for="web">Web devolopment</label><br>
      <input type="checkbox" class="checkbox" id="cyber" value="Cyber Security" name="cybersecurity">
      <label for="web">Cyber Security</label><br>
      <input type="checkbox" class="checkbox" id="iot" value="Internet of Things" name="internetofthings">
      <label for="web">Internet Of Things</label><br>
      <input type="checkbox" class="checkbox" id="cloud" value="Cloud Computing" name="cloudcomputing">
      <label for="web">Cloud Computing</label><br>
      <input type="checkbox" class="checkbox" id="blockchain" value="Blockchain" name="blockchain">
      <label for="web">Blockchain</label><br>
    </div> -->
    <!-- <ng-container *ngFor="let courseservice of courseservices">
   
         
          <input type="checkbox" class="checkbox" id="web" value="Web devolpment" name="web devolopment">
      <label for="web">{{courseservice.name}}</label><br>
         </ng-container> 
      </ng-container> -->
  </div>
 
    <div id="two">
      
      <ng-container *ngFor="let courseservice of courseservices">

        <ng-container
          *ngFor="let areaofinterest_course of courseservice.areaofinterest_courses | filter:SearchCourse:Parameter | sort:SortbyParam:SortDirection ">

          <ng-container *ngIf="areaofinterest_course.category === id">
            <div class="card">

              <h3>
                <a style="font-size: 23px;" id="b" [routerLink]="['/course', areaofinterest_course.routerlink]" routerLinkActive="active"><b>{{
                    areaofinterest_course.name}}</b></a>
              </h3>
              <p>{{ areaofinterest_course.description}}</p>
              <p>Duration : {{ areaofinterest_course.duration}}</p>
              <a id="b" [routerLink]="['/instructor', areaofinterest_course.author]" routerLinkActive="active">
                <p>Instructor : {{areaofinterest_course.author | titlecase}}</p>
              </a>
              <p id="price">Price : {{areaofinterest_course.price}}</p>
            </div>
          </ng-container>
        </ng-container>

      </ng-container>
    
    </div>
  </div>

</body>

</html>