<app-user-navbar></app-user-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="sidebar">

        <ul>
            <li><a href="#">Home</a></li>
            <!-- <li><a [routerLink]="['/course/']" routerLinkActive="active">View Courses</a></li> -->
            <li><a [routerLink]="['/areaofinterest']" routerLinkActive="active">Enroll Course</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <h1 id="heading">Welcome back</h1>
    <h2><strong>Enrolled courses</strong></h2>
    <ng-container *ngFor="let usercourse of usercourses">
      
      
         <ng-container *ngFor="let ucourse of usercourse.user_courses"> 
           
           <ng-container *ngIf="id==ucourse.userid"> 
                <div class="card">
                    <div>
                        <h3>
                            <a style="font-size: 23px;" id="b" [routerLink]="['/course', usercourse .routerlink]" routerLinkActive="active"><b>{{
                                usercourse.name}}</b></a>
                          </h3>
                            
                        <p><strong>Duration : </strong>{{ usercourse.duration}}</p>
                        <a id="b" [routerLink]="['/instructor', usercourse.author]" routerLinkActive="active">
                            <p id="instructor"><strong>Instructor : </strong>{{usercourse.author | titlecase}}</p>
                        </a>
                        <p>Price: {{usercourse.price}}</p>
                        <button id="review" name="review" (click) ="review(usercourse.routerlink)">Add review</button>
                        <!-- <button id="review" name="review" (click)="review([ucourse.name],[ucourse.courseid])">Add review</button> -->
                    </div>
                </div>
          </ng-container>      
        </ng-container>
       
    </ng-container>
      <!-- <h2>Recommended courses for you</h2>  -->
     <!-- <ng-container *ngFor="let courseservice of courseservices">
        
        <ng-container
          *ngFor="let areaofinterest_course of courseservice.areaofinterest_courses">
          <ng-container
          *ngFor="let ucs of uc">
        <div class="card">{{ucs}}</div></ng-container>
        <ng-container *ngIf="uc!=areaofinterest_course.routerlink">
         
            <div class="card">
                
              <h3>
                <a style="font-size: 23px;" id="b" [routerLink]="['/course', areaofinterest_course.routerlink]" routerLinkActive="active"><b>{{
                    areaofinterest_course.name}}</b></a>
              </h3>
              <p>{{ areaofinterest_course.description}}</p>
              <p>Duration : {{ areaofinterest_course.duration}}</p>
              <a id="b" [routerLink]="['/instructor', areaofinterest_course.author]" routerLinkActive="active">
                <p>Instructor : {{areaofinterest_course.author}}</p>
              </a>
              <p id="price">Price : {{areaofinterest_course.price}}</p>
            </div>
        </ng-container>
        </ng-container>

      </ng-container> -->
    
</body>

</html>