<app-user-navbar></app-user-navbar>
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
</head>

<body>
    <div class="row">
        <ng-container *ngFor="let userDetail of userDetails">
            <div class="column">
                <ng-container *ngIf="userDetail.userid==userid">
                    <div class="card">
                        <p>Dear {{userDetail.name}} your enrollment is confirmed</p>
                        <p id="b">Go to dashboard to see all your courses</p>
                        <a id="b" [routerLink]="['user/dasshboard']" routerLinkActive="active"></a>
                    </div>
                </ng-container>

            </div>
        </ng-container>
    </div>
</body>

</html>