<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%> -->
  <app-user-navbar></app-user-navbar>
    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="login.js"></script> -->
    </head>
    <body>
        <!-- <nav>
            
            <div class="nav-right">
                <ul>
                    <a routerLink="user/login" routerLinkActive="active">Login</a>
                    <a routerLink="user/register" routerLinkActive="active">Register</a>
                    <a routerLink="user/areaofinterest" routerLinkActive="active">Area of Interest</a>
                </ul>
            </div> 
        </nav> -->
        <div align="right" class="main">
            <h1>Login Page</h1>
            <h2>Enter Login Details</h2>
            <form class="formOne" #showForm="ngForm" (ngSubmit)="onSubmit(showForm)" novalidate >
                <!-- <form class="formOne"> -->
                 <div><img id="pagelogo" src="https://i.ibb.co/P67QgJ4/Screenshot-756.png"></div>
                 
                 <label>EMAIL</label> <input id="email" type="text" name="email" spellcheck="false" [ngClass]="!email.valid && email.touched? 'invalid-textbox':'email'" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" ngModel><br>
                <div> <span *ngIf="email.invalid && email.touched" style="color: red;" class="error">Invalid email</span></div>
                <label>PASSWORD</label> <input id="password" type="password" name="password" [ngClass]="!password.valid && password.touched? 'invalid-textbox':'password'" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required #password="ngModel" ngModel><br>
                <div> <span *ngIf="password.invalid && password.touched" style="color: red;" class="error">Invalid Password</span></div>
                
                <input type="submit" id="button" value="Submit"><br>
                <p class="horizontal-line-text">
                    <span>OR</span>
                  </p>
                <!-- <button id="googlelogin" type="button" (click)="signInWithGoogle()" value="Sign with Google"><i class="fa fa-google" aria-hidden="true"></i> Sign in with Google</button> -->
                <button id="googlelogin" type="button" (click)="googlelogin()" value="Sign with Google"><i class="fa fa-google" aria-hidden="true"></i> Sign in with Google</button>

                <br>
            </form>

            <div align="left">
                <img id="image" alt="course image" src="https://i.ibb.co/P9V6YH9/Course-App-removebg-preview.jpg" >
            </div>
        </div>
        <div class="servererror" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}</div>
    
    </body>
    </html>